<html>
<head>
<script>
// START *** avoid caching
var scriptSDK = document.createElement('script');
scriptSDK.setAttribute('src','../ChromaCommon/ChromaSDKImpl.js?cache=' + Date.now() );
document.head.appendChild(scriptSDK);
// END *** avoid caching
</script>
<script src="../ChromaCommon/Vue/vue.js"></script>
<!-- import CSS -->
<link rel="stylesheet" href="../ChromaCommon/Vue/index.css">
<link rel="stylesheet" href="../ChromaCommon/index.css">
<!-- import JavaScript -->
<!-- import JavaScript -->
<script src="../ChromaCommon/Vue/index.js"></script>
<script src="../ChromaCommon/Vue/en.js"></script>
<style>
.divInline {
  display: inline-table;
  vertical-align: top;
}
</style>
</head>
<body onload="onPageLoad()" onunload="onPageUnload()">
<img name="imgEmulatorChromaLink" style="display: none" src="emulator/EmulatorChromaLink5.png"/>
<img name="imgEmulatorHeadset" style="display: none" src="emulator/EmulatorHeadset.png"/>
<img name="imgEmulatorKeyboard" style="display: none" src="emulator/EmulatorKeyboard.png"/>
<img name="imgEmulatorKeypad" style="display: none" src="emulator/EmulatorKeypad.png"/>
<img name="imgEmulatorMouse" style="display: none" src="emulator/EmulatorMouse.png"/>
<img name="imgEmulatorMousepad" style="display: none" src="emulator/EmulatorMousepad.png"/>
<img name="imgEmulator_18_10" style="display: none" src="emulator/Emulator_18_10.png"/>
<a id="lnkDownload" style="display: none" download="client.chroma" href="" target="_blank"></a>

<h1>Generate Chroma Animations</h1>

<br/><br/>

<div class="divInline">
  <div>
    Number of Layers: <input id="inputNumberOfLayers" type="text" value="5"></input>
  </div>

  <div>
    Source: <select>
      <option selected>JavaScript</option>
      <option>C++</option>
      <option>UE4</option>
    </select>
  </div>

  <div>
    Style: <select id="selectStyle">
      <option selected>Misc</option>
      <option>Clouds</option>
      <option>Particle Systems</option>
      <option>Lines</option>
      <option>Explosion</option>
      <option>Shapes</option>
    </select>
  </div>

  <div>
    Colors: <select id="selectColors">
      <option selected>Random</option>
      <option>Rainbow</option>
      <option>Black and White</option>
      <option>Blood</option>
      <option>Fire</option>
      <option>Water</option>
    </select>
  </div>
</div>

<div class="divInline" style="background: #444">
  <div>
    Random Layers: <input id="inputRandomLayers" type="checkbox" checked style="width: 50px; height: 50px"></input>
    <button id="buttonRandomLayers">Apply</button>
  </div>
  <div>
    Random Operations: <input id="inputRandomOperations" type="checkbox" checked style="width: 50px; height: 50px"></input>
    <button id="buttonRandomOperations">Apply</button>
  </div>
  <div>
    Background: <input id="inputBackground" type="checkbox" checked style="width: 50px; height: 50px"></input>
    <button id="buttonRandomColors">Apply</button>
  </div>
</div>

<div class="divInline">
  Auto: <input id="inputAuto" type="checkbox" style="width: 50px; height: 50px"></input>
  <button id="buttonGenerateScript">Generate Script</button>
  <button id="buttonClear">Clear</button>
</div>

<div id="root">

  <div id="editPanel" class="editPanel" style="display: none">
    <div id="editComponents">
      <el-select v-for="layer in layers" @change="onLayerChange" v-model="layer.value" placeholder="Select">
        <el-option v-for="layerOption in layerOptions" :key="layerOption.value" :label="layerOption.label" :value="layerOption.value"></el-option>
      </el-select><br/>
      <el-slider v-for="threshold in thresholds" @change="onThresholdChange" v-model="threshold.threshold" :min="0" :max="threshold.max" :step="threshold.step" style="width: 100px; display: inline-table; padding: 10px"></el-slider><br/>
      <el-color-picker v-for="color in colors" @active-change="onColorChange" v-model="color.color" :predefine="predefineColors"></el-color-picker>
    </div>
    <div>
      <el-input type="textarea" @change="onTextChange" v-model="editText" :rows="100"></el-input>
    </div>
  </div>

  <div-chroma-set-list></div-chroma-set-list>

  <div id="rootAnimations" style="padding: 10px; background: hsl(0, 0%, 25%)"><br/><br/>
  </div>
</div>

<script>
// START *** avoid caching
var scriptLiveEditor = document.createElement('script');
scriptLiveEditor.setAttribute('src','../ChromaCommon/ChromaLiveEditor.js?cache=' + Date.now() );
document.head.appendChild(scriptLiveEditor);
// END *** avoid caching
</script>

<script>
var animations = {};
var animationsWithLines = {};
var animationsWithExplosion = {};
var animationsWithClouds = {};
var animationsWithParticles = {};
var animationsWithShapes = {};

var animationId = 0;

function setupKeyboardCanvasEvent() {
  // wait on Vue
  setTimeout(function() {
    // @todo use common code to setup events
    var canvases = document.getElementsByClassName('canvasKeyboard');
    for (var i in canvases) {
      var canvas = canvases[i];
      if (canvas != undefined &&
        canvas.getContext != undefined) {
          var ctx = canvas.getContext("2d");
          ctx.font = "30px Arial";
          ctx.fillStyle ='rgb(127, 127, 127)';
          ctx.fillText("Loading...",225,100);
          setupLiveEditOnClick(canvas);
      }
    }
  }, 100);
}

var keyboardClickEvents = {};
var generateDivChromaSet = function() {
  ++animationId;
  var textKeyboard = generateDeviceScript(EChromaSDKDeviceEnum.DE_Keyboard);
  var textChromaLink = generateDeviceScript(EChromaSDKDeviceEnum.DE_ChromaLink);
  var textHeadset = generateDeviceScript(EChromaSDKDeviceEnum.DE_Headset);
  var textMousepad = generateDeviceScript(EChromaSDKDeviceEnum.DE_Mousepad);
  var textMouse = generateDeviceScript(EChromaSDKDeviceEnum.DE_Mouse);

  //console.log('textChromaLink', textChromaLink);
  //console.log('textHeadset', textHeadset);
  //console.log('textKeypad', textKeypad);
  //console.log('textMousepad', textMousepad);
  //console.log('textMouse', textMouse);

  // Dynamically add vue component
  vue.$data.dataDivChromaSets.reverse();
  var divChromaSet = { index: ''+animationId, header: 'Effect '+animationId };
  vue.$data.dataDivChromaSets.push(divChromaSet);
  setupKeyboardButtonEvent(textKeyboard, textChromaLink, textHeadset, textMousepad, textMouse);
  vue.$data.dataDivChromaSets.reverse();

  // wait on vue
  setTimeout(function() {
    for (var i in vue.dataDivChromaSets) {
      var divChromaSet = vue.dataDivChromaSets[i];

      // setup keyboard
      var onclick = "showEffect"+divChromaSet.index+".onclick = vue.$data.dataDivChromaSets["+i+"].keyboardClick;\r\n";
      eval(onclick);

      // setup chromalink
      var onclick = "showEffect"+divChromaSet.index+"ChromaLink.onclick = vue.$data.dataDivChromaSets["+i+"].chromaLinkClick;\r\n";
      eval(onclick);

      // setup headset
      var onclick = "showEffect"+divChromaSet.index+"Headset.onclick = vue.$data.dataDivChromaSets["+i+"].headsetClick;\r\n";
      eval(onclick);

      // setup mousepad
      var onclick = "showEffect"+divChromaSet.index+"Mousepad.onclick = vue.$data.dataDivChromaSets["+i+"].mousepadClick;\r\n";
      eval(onclick);

      // setup mouse
      var onclick = "showEffect"+divChromaSet.index+"Mouse.onclick = vue.$data.dataDivChromaSets["+i+"].mouseClick;\r\n";
      eval(onclick);

      // click keyboard button
      if (divChromaSet.index == animationId) {
        eval("showEffect"+divChromaSet.index+".onclick()");
      }
    }
  }, 100);

  // assign hover, click events on canvases
  setupKeyboardCanvasEvent();

  reshowLiveEditor();
};
getAnimation = function(device) {
  var animationGroup = animations;
  if (selectStyle.value == "Misc") {
    animationGroup = animations[device];
  } else if (selectStyle.value == "Clouds") {
    animationGroup = animationsWithClouds[device];
  } else if (selectStyle.value == "Particle Systems") {
    animationGroup = animationsWithParticles[device];
  } else if (selectStyle.value == "Lines") {
    animationGroup = animationsWithLines[device];
  } else if (selectStyle.value == "Explosion") {
    animationGroup = animationsWithExplosion[device];
  } else if (selectStyle.value == "Shapes") {
    animationGroup = animationsWithShapes[device];
  }
  var i = Math.floor(Math.random() * animationGroup.length) % animationGroup.length;
  var name = animationGroup[i];
  if (name == '---') {
    return getAnimation(device);
  }
  return '../ChromaCommon/animations/' + animationGroup[i];
}
function getLayer(layerId) {
  if (layerId == 0) {
    return 'baseLayer';
  } else {
    return 'layer' + (layerId+1);
  }
}
var numberOfLayers = 3;
var layers = {};
var operations = [];
var colors = [];
randomizeLayers = function() {
  for (var device = 0; device < EChromaSDKDeviceEnum.DE_MAX; ++device) {
    layers[device] = [];
    for (var i = 0; i < numberOfLayers; ++i) {
      var animationName = "";
      if (i == 0) {
        var index = Math.floor(Math.random() * animationsWithShapes[device].length);
        animationName = animationsWithShapes[device][index];
        layers[device].push('../ChromaCommon/animations/'+animationName);
        continue;
      }
      for (var tries = 0; tries < 3; ++tries) {
        animationName = getAnimation(device);
        if (!layers[device].includes(animationName)) {
          layers[device].push(animationName);
          animationName = "";
          break;
        }
      }
      if (animationName != "") {
        layers[device].push(animationName);
      }
    }
  }
}
buttonRandomLayers.onclick = function() {
  if (layers[EChromaSDKDeviceEnum.DE_Keyboard].length == 0 ||
    operations.length == 0) {
    buttonGenerateScript.onclick();
    return;
  }
  randomizeLayers();
  generateDivChromaSet();
}
randomizeOperations = function() {
  operations = [];
  for (var i = 0; i < numberOfLayers; ++i) {
    var ops = [];
    ops.push(Math.floor(Math.random() * 4)); //number of color operation actions
    ops.push(Math.floor(Math.random() * 6)); //number of copy/add/subtract actions
    operations.push(ops);
  }
}
buttonRandomOperations.onclick = function() {
  if (layers[EChromaSDKDeviceEnum.DE_Keyboard].length == 0 ||
    operations.length == 0) {
    buttonGenerateScript.onclick();
    return;
  }
  randomizeOperations();
  generateDivChromaSet();
}
randomizeColors = function() {
  colors = [];
  for (var i = 0; i < 10; ++i) {
    var red = Math.floor(Math.random() * 255);
    var green = Math.floor(Math.random() * 255);
    var blue = Math.floor(Math.random() * 255);
    var color = red | (green << 8) | (blue << 16);
    colors.push(color);
  }
}
randomizeColors(); //set initial colors
setRainbowColors = function() {
  colors = [];
  colors.push(ChromaAnimation.getRGB(255, 0, 0));
  colors.push(ChromaAnimation.getRGB(255, 127, 0));
  colors.push(ChromaAnimation.getRGB(255, 255, 0));
  colors.push(ChromaAnimation.getRGB(0, 255, 0));
  colors.push(ChromaAnimation.getRGB(0, 0, 255));
  colors.push(ChromaAnimation.getRGB(75, 0, 130));
  colors.push(ChromaAnimation.getRGB(148, 0, 211));
}
setBlackAndWhiteColors = function() {
  colors = [];
  colors.push(ChromaAnimation.getRGB(255, 255, 255));
  colors.push(ChromaAnimation.getRGB(200, 200, 200));
  colors.push(ChromaAnimation.getRGB(127, 127, 127));
  colors.push(ChromaAnimation.getRGB(63, 63, 63));
  colors.push(ChromaAnimation.getRGB(32, 32, 32));
  colors.push(ChromaAnimation.getRGB(0, 0, 0));
}
setBloodColors = function() {
  colors = [];
  colors.push(ChromaAnimation.getRGB(255, 0, 0));
  colors.push(ChromaAnimation.getRGB(127, 0, 0));
  colors.push(ChromaAnimation.getRGB(64, 0, 0));
}
setFireColors = function() {
  colors = [];
  colors.push(ChromaAnimation.getRGB(255, 0, 0));
  colors.push(ChromaAnimation.getRGB(255, 32, 0));
  colors.push(ChromaAnimation.getRGB(255, 64, 0));
  colors.push(ChromaAnimation.getRGB(255, 100, 0));
  colors.push(ChromaAnimation.getRGB(255, 127, 0));
  colors.push(ChromaAnimation.getRGB(255, 200, 0));
  colors.push(ChromaAnimation.getRGB(255, 255, 0));
}
setWaterColors = function() {
  colors = [];
  colors.push(ChromaAnimation.getRGB(0, 0, 255));
  colors.push(ChromaAnimation.getRGB(0, 32, 255));
  colors.push(ChromaAnimation.getRGB(0, 64, 255));
  colors.push(ChromaAnimation.getRGB(0, 100, 255));
  colors.push(ChromaAnimation.getRGB(0, 127, 255));
  colors.push(ChromaAnimation.getRGB(0, 200, 255));
  colors.push(ChromaAnimation.getRGB(0, 255, 255));
}
convertIntToHexStr = function(color) {
  var blue = color & 0xFF;
  var green = (color & 0xFF00) >> 8;
  var red = (color & 0xFF0000) >> 16;
  return "0x" + vue.convertIntToHex(blue) + vue.convertIntToHex(green) + vue.convertIntToHex(red);
}
setupKeyboardButtonEvent = function(textKeyboard, textChromaLink, textHeadset, textMousepad, textMouse) {
  // set vue event
  // vue.$data.dataDivChromaSets[vue.$data.dataDivChromaSets.length-1].keyboardClick=;
  var onclick = "vue.$data.dataDivChromaSets[vue.$data.dataDivChromaSets.length-1].keyboardClick = function () {\r\n";
  onclick += "exampleReset();\t\n";
  onclick += "handleButtonClick(showEffect"+animationId+");\r\n";
  onclick += textKeyboard;
  onclick += "\r\n};\r\n";
  eval(onclick);

  var onclick = "vue.$data.dataDivChromaSets[vue.$data.dataDivChromaSets.length-1].chromaLinkClick = function () {\r\n";
  onclick += "exampleReset();\t\n";
  onclick += textChromaLink;
  onclick += "\r\n};\r\n";
  eval(onclick);

  var onclick = "vue.$data.dataDivChromaSets[vue.$data.dataDivChromaSets.length-1].headsetClick = function () {\r\n";
  onclick += "exampleReset();\t\n";
  onclick += textHeadset;
  onclick += "\r\n};\r\n";
  eval(onclick);

  var onclick = "vue.$data.dataDivChromaSets[vue.$data.dataDivChromaSets.length-1].mousepadClick = function () {\r\n";
  onclick += "exampleReset();\t\n";
  onclick += textMousepad;
  onclick += "\r\n};\r\n";
  eval(onclick);

  var onclick = "vue.$data.dataDivChromaSets[vue.$data.dataDivChromaSets.length-1].mouseClick = function () {\r\n";
  onclick += "exampleReset();\t\n";
  onclick += textMouse;
  onclick += "\r\n};\r\n";
  eval(onclick);
}
generateDeviceScript = function(device) {
  var text = "";
  var newline = "\n";
  var baseLayer = "";
  for (var layerId = 0; layerId < numberOfLayers; ++layerId) {
    if (layerId == 0) {
      baseLayer = layers[device][0];
    }
    text += "var " + getLayer(layerId) + " = '"+layers[device][layerId]+"';" + newline;
  }
  for (var layerId = 0; layerId < numberOfLayers; ++layerId) {
    text += "ChromaAnimation.closeAnimation("+ getLayer(layerId) +");" + newline;
  }
  for (var layerId = 0; layerId < numberOfLayers; ++layerId) {
    var indent = "";
    for (var i = 0; i < layerId; ++i){
      indent += "  ";
    }
    if (layerId == 0) {
      text += "ChromaAnimation.openAnimation(baseLayer, function(baseAnimation) {" + newline;
    } else {
      text += indent + "ChromaAnimation.openAnimation(layer"+(layerId+1)+", function(layer"+(layerId+1)+"Animation) {" + newline;
    }
  }
  var indent = "";
  for (var i = 0; i < numberOfLayers; ++i){
    indent += "  ";
  }
  text += indent + "var frameCount = ChromaAnimation.getFrameCount(baseLayer);" + newline;
  for (var layerId = 1; layerId < numberOfLayers; ++layerId) {
    text += indent + "var frames = ChromaAnimation.getFrameCount("+ getLayer(layerId) +");" + newline;
    text += indent + "frameCount = Math.max(frameCount, frames);" + newline;
  }
  for (var layerId = 1; layerId < numberOfLayers; ++layerId) {
    text += indent + "var frames = ChromaAnimation.getFrameCount("+ getLayer(layerId) +");" + newline;
    text += indent + "if (frames == 1) ChromaAnimation.duplicateFirstFrame("+ getLayer(layerId) +", frameCount);" + newline;
  }
  var color = colors[Math.floor(Math.random() * colors.length)];
  var red = ChromaAnimation.getRed(color);
  var green = ChromaAnimation.getGreen(color);
  var blue = ChromaAnimation.getBlue(color);
  if (inputBackground.checked) {
    text += indent + "ChromaAnimation.makeBlankFramesRGB(baseLayer, frameCount, 0.1, "+red+", "+green+", "+blue+");" + newline;
  } else {
    text += indent + "ChromaAnimation.duplicateFirstFrame(baseLayer, frameCount);" + newline;
  }
  for (var layerId = 1; layerId < numberOfLayers; ++layerId) {
    switch (operations[layerId][0]) {
      case 0:
        var color = colors[Math.floor(Math.random() * colors.length)];
        var red = ChromaAnimation.getRed(color);
        var green = ChromaAnimation.getGreen(color);
        var blue = ChromaAnimation.getBlue(color);
        text += indent + "ChromaAnimation.multiplyIntensityAllFramesRGB("+ getLayer(layerId) +", "+red+", "+green+", "+blue+");" + newline;
        break;
      case 1:
        var threshold = Math.floor(Math.random() * 255);
        var color = colors[Math.floor(Math.random() * colors.length)];
        var red = ChromaAnimation.getRed(color);
        var green = ChromaAnimation.getGreen(color);
        var blue = ChromaAnimation.getBlue(color);
        text += indent + "ChromaAnimation.fillThresholdColorsAllFramesRGB("+ getLayer(layerId) +", "+threshold+", "+red+", "+green+", "+blue+");" + newline;
        break;
      case 2:
        var minThreshold = Math.floor(Math.random() * 127);
        var color = colors[Math.floor(Math.random() * colors.length)];
        var minRed = ChromaAnimation.getRed(color);
        var minGreen = ChromaAnimation.getGreen(color);
        var minBlue = ChromaAnimation.getBlue(color);
        var maxThreshold = Math.floor(Math.random() * 127);
        var color = colors[Math.floor(Math.random() * colors.length)];
        var maxRed = ChromaAnimation.getRed(color);
        var maxGreen = ChromaAnimation.getGreen(color);
        var maxBlue = ChromaAnimation.getBlue(color);
        text += indent + "ChromaAnimation.fillThresholdColorsMinMaxAllFramesRGB("+ getLayer(layerId) +", "+minThreshold+", "+minRed+", "+minGreen+", "+minBlue+", "+maxThreshold+", "+maxRed+", "+maxGreen+", "+maxBlue+");" + newline;
        break;
      case 3:
        var color1 = colors[Math.floor(Math.random() * colors.length)];
        var color2 = colors[Math.floor(Math.random() * colors.length)];
        text += indent + "ChromaAnimation.multiplyColorLerpAllFrames("+ getLayer(layerId) +", "+convertIntToHexStr(color1)+", "+convertIntToHexStr(color2)+");" + newline;
        break;
    }
  }
  for (var layerId = 1; layerId < numberOfLayers; ++layerId) {
    switch (operations[layerId][1]) {
      case 0:
        text += indent + "ChromaAnimation.copyNonZeroAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
      case 1:
        text += indent + "ChromaAnimation.copyNonZeroTargetAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
      case 2:
        text += indent + "ChromaAnimation.addNonZeroAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
      case 3:
        text += indent + "ChromaAnimation.addNonZeroTargetAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
      case 4:
        text += indent + "ChromaAnimation.subtractNonZeroAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
      case 5:
        text += indent + "ChromaAnimation.subtractNonZeroTargetAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
    }
  }

  if (device == EChromaSDKDeviceEnum.DE_Keyboard) {
    text += indent + "ChromaAnimation.setChromaCustomFlag(baseLayer, true);" + newline;
    text += indent + "ChromaAnimation.setChromaCustomColorAllFrames(baseLayer);" + newline;
  }
  text += indent + "ChromaAnimation.overrideFrameDuration(baseLayer, 0.033);" + newline;

  text += indent + "displayAndPlayAnimation(baseLayer, 'ShowEffect"+animationId+"', true);" + newline;

  if (device == EChromaSDKDeviceEnum.DE_Keyboard) {
    text += indent + "showEffect"+animationId+"ChromaLink.onclick();" + newline;
  } else if (device == EChromaSDKDeviceEnum.DE_ChromaLink) {
    text += indent + "showEffect"+animationId+"Headset.onclick();" + newline;
  } else if (device == EChromaSDKDeviceEnum.DE_Headset) {
    text += indent + "showEffect"+animationId+"Mousepad.onclick();" + newline;
  } else if (device == EChromaSDKDeviceEnum.DE_Mousepad) {
    text += indent + "showEffect"+animationId+"Mouse.onclick();" + newline;
  }

  for (var layerId = numberOfLayers - 1; layerId >= 0; --layerId) {
    var indent = "";
    for (var i = 0; i < layerId; ++i){
      indent += "  ";
    }
    text += indent + "});" + newline;
  }

  return text;
}
generateColors = function() {
  if (selectColors.value == "Random") {
    randomizeColors();
  } else if (selectColors.value == "Rainbow") {
    setRainbowColors();
  } else if (selectColors.value == "Black and White") {
    setBlackAndWhiteColors();
  } else if (selectColors.value == "Blood") {
    setBloodColors();
  } else if (selectColors.value == "Fire") {
    setFireColors();
  } else if (selectColors.value == "Water") {
    setWaterColors();
  }
}
buttonRandomColors.onclick = function() {
  if (layers[EChromaSDKDeviceEnum.DE_Keyboard].length == 0 ||
    operations.length == 0) {
    buttonGenerateScript.onclick();
    return;
  }
  generateColors();
  generateDivChromaSet();
}
buttonGenerateScript.onclick = function() {
  numberOfLayers = Math.floor(parseInt(inputNumberOfLayers.value));
  if (layers[EChromaSDKDeviceEnum.DE_Keyboard].length != numberOfLayers ||
    inputRandomLayers.checked) {
    randomizeLayers();
  }
  if (operations.length != numberOfLayers ||
    inputRandomOperations.checked) {
    randomizeOperations();
  }
  generateColors();

  generateDivChromaSet();
}

var hideLiveEditor = function() {
  var panel = document.getElementById('editPanel');
  if (panel != undefined) {
    panel.style.display = "none";
  }
}
var isLiveEditorOpen = function() {
  var panel = document.getElementById('editPanel');
  if (panel != undefined) {
    return (panel.style.display != "none");
  }
  return false;
}
var reshowLiveEditor = function() {
  var canvas = document.getElementById('canvasKeyboardShowEffect'+animationId);
  var buttonName = 'showEffect'+animationId;
  if (canvas != undefined &&
    buttonName != undefined) {
    if (isLiveEditorOpen()) {
      hideLiveEditor();
      setTimeout(function() {
        openLiveEditor(canvas, buttonName);
      }, 100);
    }
  }
}

buttonClear.onclick = function() {
  hideLiveEditor();
  stopAllCanvasTimers();
  while (vue.$data.dataDivChromaSets.length > 0) {
    vue.$data.dataDivChromaSets.pop();
  }
  ChromaAnimation.stopAll();
}
var intervalAuto = undefined;
inputAuto.onclick = function() {
  if (intervalAuto != undefined) {
    clearInterval(intervalAuto);
    intervalAuto = undefined;
  }
  if (inputAuto.checked) {
    intervalAuto = setInterval(function() {
      if (vue == undefined) {
        return;
      }
      if (isLiveEditorOpen()) {
        hideLiveEditor();
      }
      buttonGenerateScript.onclick();
    }, 250);
  }
}
inputAuto.onclick();
</script>

<br/><br/>

</body>

<script>
// START *** avoid caching
var scriptIndex = document.createElement('script');
scriptIndex.setAttribute('src','../ChromaCommon/index.js?cache=' + Date.now() );
document.head.appendChild(scriptIndex);
// END *** avoid caching

function setupAllChromaEffects() {

  var setupAnimations = function() {
    var list = [];
    list.push('Arrow1_Keyboard.chroma');
    list.push('BarRightToLeft_Keyboard.chroma');
    list.push('BarTopDown_Keyboard.chroma');
    list.push('BattleBus_Keyboard.chroma');
    list.push('Bird1_Keyboard.chroma');
    list.push('BlackAndWhiteRainbow_Keyboard.chroma');
    list.push('Block2_Keyboard.chroma');
    list.push('Block3_Keyboard.chroma');
    list.push('Block4_Keyboard.chroma');
    list.push('Chainsaw1_Keyboard.chroma');
    list.push('Chest1_Keyboard.chroma');
    list.push('CircleExpanding_Keyboard.chroma');
    list.push('Claws1_Keyboard.chroma');
    list.push('Dragon1_Keyboard.chroma');
    list.push('Dragon2_Keyboard.chroma');
    list.push('Dragon3_Keyboard.chroma');
    list.push('FreeFall1_Keyboard.chroma');
    list.push('FreeFall2_Keyboard.chroma');
    list.push('Glider1_Keyboard.chroma');
    list.push('Glider2_Keyboard.chroma');
    list.push('Hatchet_Keyboard.chroma');
    list.push('Ladder1_Keyboard.chroma');
    list.push('Ladder2_Keyboard.chroma');
    list.push('LaserRotate_Keyboard.chroma');
    list.push('LaserScroll_Keyboard.chroma');
    list.push('Lightning1_Keyboard.chroma');
    list.push('Lightning2_Keyboard.chroma');
    list.push('Lightning3_Keyboard.chroma');
    list.push('Logo1_Keyboard.chroma');
    list.push('Logo2_Keyboard.chroma');
    list.push('MachineGun1_Keyboard.chroma');
    list.push('MachineGun2_Keyboard.chroma');
    list.push('Melee1_Keyboard.chroma');
    list.push('MovementUpLeft_Keyboard.chroma');
    list.push('MovementUpRight_Keyboard.chroma');
    list.push('OpenDoor1_Keyboard.chroma');
    list.push('OpenDoor2_Keyboard.chroma');
    list.push('Projectiles_Keyboard.chroma');
    list.push('Rain1_Keyboard.chroma');
    list.push('Ray1_Keyboard.chroma');
    list.push('Ray2_Keyboard.chroma');
    list.push('Reticle1_Keyboard.chroma');
    list.push('Reticle2_Keyboard.chroma');
    list.push('Reticle3_Keyboard.chroma');
    list.push('Reticle4_Keyboard.chroma');
    list.push('RocketProjectile1_Keyboard.chroma');
    list.push('Search1_Keyboard.chroma');
    list.push('Search2_Keyboard.chroma');
    list.push('Search3_Keyboard.chroma');
    list.push('Search4_Keyboard.chroma');
    list.push('SearchLight1_Keyboard.chroma');
    list.push('Spiral_Keyboard.chroma');
    list.push('Star_Keyboard.chroma');
    list.push('Stripes1_Keyboard.chroma');
    list.push('Sword1_Keyboard.chroma');
    list.push('Tongue1_Keyboard.chroma');
    list.push('Tornado1_Keyboard.chroma');
    list.push('Trail1_Keyboard.chroma');
    list.push('Trail2_Keyboard.chroma');
    list.push('Trail3_Keyboard.chroma');
    list.push('Train1_Keyboard.chroma');
    list.push('Train2_Keyboard.chroma');
    list.push('Travel1_Keyboard.chroma');
    list.push('WindMill1_Keyboard.chroma');
    list.push('Wisp1_Keyboard.chroma');
    list.push('Wisp2_Keyboard.chroma');
    list.push('Wisp3_Keyboard.chroma');
    list.push('WispLarge_Keyboard.chroma');
    list.push('X1_Keyboard.chroma');
    list.push('X2_Keyboard.chroma');

    list.push('---');
    list.push('Cinematic1_Keyboard.chroma');
    list.push('Cinematic2_Keyboard.chroma');
    list.push('Cinematic3_Keyboard.chroma');
    list.push('LaserA_Keyboard.chroma');
    list.push('LaserB_Keyboard.chroma');
    list.push('Llama1_Keyboard.chroma');
    list.push('Llama2_Keyboard.chroma');
    list.push('Llama3_Keyboard.chroma');
    list.push('Llama4_Keyboard.chroma');
    list.push('XOutline_Keyboard.chroma');
    list.push('X_Keyboard.chroma');

    animations[EChromaSDKDeviceEnum.DE_Keyboard] = list;

    var list = [];
    list.push('BlackAndWhiteRainbow_ChromaLink.chroma');
    animations[EChromaSDKDeviceEnum.DE_ChromaLink] = list;

    var list = [];
    list.push('BlackAndWhiteRainbow_Headset.chroma');
    animations[EChromaSDKDeviceEnum.DE_Headset] = list;

    animations[EChromaSDKDeviceEnum.DE_Keypad] = [];

    var list = [];
    list.push('BlackAndWhiteRainbow_Mouse.chroma');
    animations[EChromaSDKDeviceEnum.DE_Mouse] = list;

    var list = [];
    list.push('BlackAndWhiteRainbow_Mousepad.chroma');
    animations[EChromaSDKDeviceEnum.DE_Mousepad] = list;
  };
  setupAnimations();

  var setupAnimations = function() {
    var list = [];
    list.push('BarrelFlash1_Keyboard.chroma');
    list.push('BarrelFlash2_Keyboard.chroma');
    list.push('BarrelFlash3_Keyboard.chroma');
    list.push('Clouds1_Keyboard.chroma');
    list.push('Clouds2_Keyboard.chroma');
    list.push('Clouds3_Keyboard.chroma');
    animationsWithClouds[EChromaSDKDeviceEnum.DE_Keyboard] = list;

    var list = [];
    list.push('Clouds1_ChromaLink.chroma');
    animationsWithClouds[EChromaSDKDeviceEnum.DE_ChromaLink] = list;

    var list = [];
    list.push('Clouds1_Headset.chroma');
    animationsWithClouds[EChromaSDKDeviceEnum.DE_Headset] = list;

    animationsWithClouds[EChromaSDKDeviceEnum.DE_Keypad] = [];

    var list = [];
    list.push('Clouds1_Mouse.chroma');
    animationsWithClouds[EChromaSDKDeviceEnum.DE_Mouse] = list;

    var list = [];
    list.push('Clouds1_Mousepad.chroma');
    animationsWithClouds[EChromaSDKDeviceEnum.DE_Mousepad] = list;
  };
  setupAnimations();

  var setupAnimations = function() {
    var list = [];
    list.push('Arc1_Keyboard.chroma');
    list.push('Arc2_Keyboard.chroma');
    list.push('Arc3_Keyboard.chroma');
    list.push('Arc4_Keyboard.chroma');
    list.push('Block1_Keyboard.chroma');
    list.push('Bolt1_Keyboard.chroma');
    list.push('Bolt2_Keyboard.chroma');
    list.push('Bolt3_Keyboard.chroma');
    list.push('Bolt4_Keyboard.chroma');
    list.push('Fireball1_Keyboard.chroma');
    list.push('ReactiveSpace_Keyboard.chroma');
    list.push('ThrowUpLeft_Keyboard.chroma');
    list.push('ThrowUpRight_Keyboard.chroma');
    list.push('ThrowUp_Keyboard.chroma');
    animationsWithLines[EChromaSDKDeviceEnum.DE_Keyboard] = list;

    var list = [];
    list.push('Arc3_ChromaLink.chroma');
    animationsWithLines[EChromaSDKDeviceEnum.DE_ChromaLink] = list;

    var list = [];
    list.push('Arc3_Headset.chroma');
    animationsWithLines[EChromaSDKDeviceEnum.DE_Headset] = list;

    animationsWithLines[EChromaSDKDeviceEnum.DE_Keypad] = [];

    var list = [];
    list.push('Arc3_Mouse.chroma');
    animationsWithLines[EChromaSDKDeviceEnum.DE_Mouse] = list;

    var list = [];
    list.push('Arc3_Mousepad.chroma');
    animationsWithLines[EChromaSDKDeviceEnum.DE_Mousepad] = list;
  };
  setupAnimations();

  var setupAnimations = function() {
    var list = [];
    list.push('Energy1_Keyboard.chroma');
    list.push('OutParticle1_Keyboard.chroma');
    list.push('Particle1_Keyboard.chroma');
    list.push('Particle2_Keyboard.chroma');
    list.push('Particle3_Keyboard.chroma');
    list.push('ParticleTrail1_Keyboard.chroma');
    list.push('ParticleTrail2_Keyboard.chroma');
    list.push('ParticleTrail3_Keyboard.chroma');
    list.push('ParticleTrail4_Keyboard.chroma');
    list.push('Spray1_Keyboard.chroma');
    list.push('Spray2_Keyboard.chroma');
    list.push('Spray3_Keyboard.chroma');
    list.push('UpParticle1_Keyboard.chroma');
    list.push('UpParticle2_Keyboard.chroma');
    list.push('UpParticle3_Keyboard.chroma');
    animationsWithParticles[EChromaSDKDeviceEnum.DE_Keyboard] = list;

    var list = [];
    list.push('OutParticle1_ChromaLink.chroma');
    animationsWithParticles[EChromaSDKDeviceEnum.DE_ChromaLink] = list;

    var list = [];
    list.push('OutParticle1_Headset.chroma');
    animationsWithParticles[EChromaSDKDeviceEnum.DE_Headset] = list;

    var list = [];
    animationsWithParticles[EChromaSDKDeviceEnum.DE_Keypad] = list;

    var list = [];
    list.push('OutParticle1_Mouse.chroma');
    animationsWithParticles[EChromaSDKDeviceEnum.DE_Mouse] = list;

    var list = [];
    list.push('OutParticle1_Mousepad.chroma');
    animationsWithParticles[EChromaSDKDeviceEnum.DE_Mousepad] = list;
  };
  setupAnimations();

  var setupAnimations = function() {
    var list = [];
    list.push('Fork1_Keyboard.chroma');
    list.push('Fork2_Keyboard.chroma');
    list.push('Fork3_Keyboard.chroma');
    list.push('Fork4_Keyboard.chroma');
    list.push('Fork5_Keyboard.chroma');
    list.push('Missile1_Keyboard.chroma');
    list.push('Missile2_Keyboard.chroma');
    list.push('Missile3_Keyboard.chroma');
    animationsWithExplosion[EChromaSDKDeviceEnum.DE_Keyboard] = list;

    var list = [];
    list.push('Tongue1_ChromaLink.chroma');
    animationsWithExplosion[EChromaSDKDeviceEnum.DE_ChromaLink] = list;

    var list = [];
    list.push('Tongue1_Headset.chroma');
    animationsWithExplosion[EChromaSDKDeviceEnum.DE_Headset] = list;

    animationsWithExplosion[EChromaSDKDeviceEnum.DE_Keypad] = [];

    var list = [];
    list.push('Tongue1_Mouse.chroma');
    animationsWithExplosion[EChromaSDKDeviceEnum.DE_Mouse] = list;

    var list = [];
    list.push('Tongue1_Mousepad.chroma');
    animationsWithExplosion[EChromaSDKDeviceEnum.DE_Mousepad] = list;
  };
  setupAnimations();

  var setupAnimations = function() {
    var list = [];
    list.push('Bow1_Keyboard.chroma');
    list.push('CircleLarge_Keyboard.chroma');
    list.push('CircleLarge2_Keyboard.chroma');
    list.push('CircleLargeLeft_Keyboard.chroma');
    list.push('CircleLargeRight_Keyboard.chroma');
    list.push('CircleSmall_Keyboard.chroma');
    list.push('CircleSmallLeft_Keyboard.chroma');
    list.push('CircleSmallRight_Keyboard.chroma');
    list.push('Damage1_Keyboard.chroma');
    list.push('Damage2_Keyboard.chroma');
    list.push('Damage3_Keyboard.chroma');
    list.push('Damage4_Keyboard.chroma');
    list.push('Damage5_Keyboard.chroma');
    list.push('Damage6_Keyboard.chroma');
    list.push('Damage7_Keyboard.chroma');
    list.push('Damage8_Keyboard.chroma');
    list.push('Heart1_Keyboard.chroma');
    list.push('Ring1_Keyboard.chroma');
    list.push('Ring2_Keyboard.chroma');
    list.push('Ring3_Keyboard.chroma');
    list.push('WispBuild_Keyboard.chroma');
    animationsWithShapes[EChromaSDKDeviceEnum.DE_Keyboard] = list;

    var list = [];
    list.push('CircleSmall_ChromaLink.chroma');
    animationsWithShapes[EChromaSDKDeviceEnum.DE_ChromaLink] = list;

    var list = [];
    list.push('CircleSmall_Headset.chroma');
    animationsWithShapes[EChromaSDKDeviceEnum.DE_Headset] = list;

    animationsWithShapes[EChromaSDKDeviceEnum.DE_Keypad] = [];

    var list = [];
    list.push('CircleSmall_Mouse.chroma');
    animationsWithShapes[EChromaSDKDeviceEnum.DE_Mouse] = list;

    var list = [];
    list.push('CircleSmall_Mousepad.chroma');
    animationsWithShapes[EChromaSDKDeviceEnum.DE_Mousepad] = list;
  };
  setupAnimations();

  layers[EChromaSDKDeviceEnum.DE_ChromaLink] = [];
  layers[EChromaSDKDeviceEnum.DE_Headset] = [];
  layers[EChromaSDKDeviceEnum.DE_Keyboard] = [];
  layers[EChromaSDKDeviceEnum.DE_Keypad] = [];
  layers[EChromaSDKDeviceEnum.DE_Mouse] = [];
  layers[EChromaSDKDeviceEnum.DE_Mousepad] = [];
};

</script>
</html>
