<html>
<head>
<script>
// START *** avoid caching
var scriptSDK = document.createElement('script');
scriptSDK.setAttribute('src','../ChromaCommon/ChromaSDKImpl.js?cache=' + Date.now() );
document.head.appendChild(scriptSDK);
// END *** avoid caching
</script>
<script src="../ChromaCommon/Vue/vue.js"></script>
<!-- import CSS -->
<link rel="stylesheet" href="../ChromaCommon/Vue/index.css">
<link rel="stylesheet" href="../ChromaCommon/index.css">
<!-- import JavaScript -->
<!-- import JavaScript -->
<script src="../ChromaCommon/Vue/index.js"></script>
<script src="../ChromaCommon/Vue/en.js"></script>
<style>
body {
  background-color: black;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
button {
  font-size: 1.5em;
  padding: 0.5em;
  background-color: 888888;
  color: 00DD00;
}
select {
  font-size: 1.5em;
  padding: 0.5em;
  background-color: 888888;
  color: 00DD00;
}
a {
  color: white;
}
div {
  font-size: 1.2em;
}
pre {
  font-size: 1.5em;
}
td {
  font-size: 1.5em;
}
.tableInline {
  display: inline-table;
}
.tdEmpty {
  background-color: 222222;
}
.imgThumbnail {
  width: 600px;
  display: inline-table;
}
</style>
</head>
<body onload="onPageLoad()" onunload="onPageUnload()">
<img name="imgEmulatorChromaLink" style="display: none" src="emulator/EmulatorChromaLink.png"/>
<img name="imgEmulatorHeadset" style="display: none" src="emulator/EmulatorHeadset.png"/>
<img name="imgEmulatorKeyboard" style="display: none" src="emulator/EmulatorKeyboard.png"/>
<img name="imgEmulatorKeypad" style="display: none" src="emulator/EmulatorKeypad.png"/>
<img name="imgEmulatorMouse" style="display: none" src="emulator/EmulatorMouse.png"/>
<img name="imgEmulatorMousepad" style="display: none" src="emulator/EmulatorMousepad.png"/>
<img name="imgEmulator_18_10" style="display: none" src="emulator/Emulator_18_10.png"/>

<h1>Generate Chroma Animations</h1>

<br/><br/>

<table border="0">
  <tr valign="top">
    <td>
Number of Layers: <input id="inputNumberOfLayers" type="text" value="5"></input><br/><br/>

Source: <select>
  <option selected>JavaScript</option>
  <option>C++</option>
  <option>UE4</option>
</select><br/><br/>

Style: <select id="selectStyle">
  <option selected>Misc</option>
  <option>Clouds</option>
  <option>Particle Systems</option>
  <option>Lines</option>
  <option>Explosion</option>
  <option>Shapes</option>
</select><br/><br/>

Random Layers: <input id="inputRandomLayers" type="checkbox" checked style="width: 50px; height: 50px"></input>
<button id="buttonRandomLayers">Apply</button><br/></br>

Random Operations: <input id="inputRandomOperations" type="checkbox" checked style="width: 50px; height: 50px"></input>
<button id="buttonRandomOperations">Apply</button><br/><br/>

Colors: <select id="selectColors">
  <option selected>Random</option>
  <option>Rainbow</option>
  <option>Black and White</option>
  <option>Blood</option>
  <option>Fire</option>
  <option>Water</option>
</select>

Background: <input id="inputBackground" type="checkbox" checked style="width: 50px; height: 50px"></input>

<button id="buttonRandomColors">Apply</button><br/><br/>

    </td>
    <td>
      Auto: <input id="inputAuto" type="checkbox" checked style="width: 50px; height: 50px"></input>
      <button id="buttonGenerateScript">Generate Script</button>
      <button id="buttonSave">Save</button>
      <button id="buttonClear">Clear</button>
      <br/><br/>
      <textarea id="outputScript" rows="20" cols="150"></textarea>
    </td>
  </tr>
</table>

<div id="root">

  <div id="editPanel" class="editPanel" style="display: none">
    <div id="editComponents">
      <el-select v-for="layer in layers" @change="onLayerChange" v-model="layer.value" placeholder="Select">
        <el-option v-for="layerOption in layerOptions" :key="layerOption.value" :label="layerOption.label" :value="layerOption.value"></el-option>
      </el-select><br/>
      <el-slider v-for="threshold in thresholds" @change="onThresholdChange" v-model="threshold.threshold" :min="0" :max="threshold.max" :step="threshold.step" style="width: 100px; display: inline-table; padding: 10px"></el-slider><br/>
      <el-color-picker v-for="color in colors" @active-change="onColorChange" v-model="color.color" :predefine="predefineColors"></el-color-picker>
    </div>
    <div>
      <el-input type="textarea" @change="onTextChange" v-model="editText" :rows="100"></el-input>
    </div>
  </div>

  <div id="rootAnimations" style="padding: 10px; background: hsl(0, 0%, 25%)"><br/><br/>
  </div>
</div>

<script>
// START *** avoid caching
var scriptLiveEditor = document.createElement('script');
scriptLiveEditor.setAttribute('src','../ChromaCommon/ChromaLiveEditor.js?cache=' + Date.now() );
document.head.appendChild(scriptLiveEditor);
// END *** avoid caching
</script>

<script>
var canvasTimers = [];
var animations = [];
var animationsWithLines = [];
var animationsWithExplosion = [];
var animationsWithClouds = [];
var animationsWithParticles = [];
var animationsWithShapes = [];
animations.push('Search1_Keyboard.chroma');
animations.push('Search2_Keyboard.chroma');
animations.push('Search3_Keyboard.chroma');
animations.push('Search4_Keyboard.chroma');
animationsWithClouds.push('BarrelFlash1_Keyboard.chroma');
animationsWithClouds.push('BarrelFlash2_Keyboard.chroma');
animationsWithClouds.push('BarrelFlash3_Keyboard.chroma');
animationsWithClouds.push('Clouds1_Keyboard.chroma');
animationsWithClouds.push('Clouds2_Keyboard.chroma');
animationsWithClouds.push('Clouds3_Keyboard.chroma');
animationsWithLines.push('Arc1_Keyboard.chroma');
animationsWithLines.push('Arc2_Keyboard.chroma');
animationsWithLines.push('Arc3_Keyboard.chroma');
animationsWithLines.push('Arc4_Keyboard.chroma');
animationsWithLines.push('Block1_Keyboard.chroma');
animations.push('Block2_Keyboard.chroma');
animationsWithLines.push('Bolt1_Keyboard.chroma');
animationsWithLines.push('Bolt2_Keyboard.chroma');
animationsWithLines.push('Bolt3_Keyboard.chroma');
animationsWithLines.push('Bolt4_Keyboard.chroma');
animations.push('Dragon1_Keyboard.chroma');
animations.push('Dragon2_Keyboard.chroma');
animations.push('Dragon3_Keyboard.chroma');
animations.push('Claws1_Keyboard.chroma');
animationsWithParticles.push('Energy1_Keyboard.chroma');
animationsWithLines.push('Fireball1_Keyboard.chroma');
animationsWithExplosion.push('Fork1_Keyboard.chroma');
animationsWithExplosion.push('Fork2_Keyboard.chroma');
animationsWithExplosion.push('Fork3_Keyboard.chroma');
animationsWithExplosion.push('Fork4_Keyboard.chroma');
animationsWithExplosion.push('Fork5_Keyboard.chroma');
animations.push('FreeFall1_Keyboard.chroma');
animations.push('FreeFall2_Keyboard.chroma');
animations.push('Glider1_Keyboard.chroma');
animations.push('Glider2_Keyboard.chroma');
animations.push('LaserRotate_Keyboard.chroma');
animations.push('LaserScroll_Keyboard.chroma');
animations.push('Lightning1_Keyboard.chroma');
animations.push('Lightning2_Keyboard.chroma');
animations.push('Lightning3_Keyboard.chroma');
animations.push('CircleExpanding_Keyboard.chroma');
animations.push('Hatchet_Keyboard.chroma');
animationsWithExplosion.push('Missile1_Keyboard.chroma');
animationsWithExplosion.push('Missile2_Keyboard.chroma');
animationsWithExplosion.push('Missile3_Keyboard.chroma');
animations.push('MovementUpLeft_Keyboard.chroma');
animations.push('MovementUpRight_Keyboard.chroma');
animationsWithParticles.push('Particle1_Keyboard.chroma');
animationsWithParticles.push('Particle2_Keyboard.chroma');
animationsWithParticles.push('Particle3_Keyboard.chroma');
animationsWithParticles.push('ParticleTrail1_Keyboard.chroma');
animationsWithParticles.push('ParticleTrail2_Keyboard.chroma');
animationsWithParticles.push('ParticleTrail3_Keyboard.chroma');
animationsWithParticles.push('ParticleTrail4_Keyboard.chroma');
animations.push('Projectiles_Keyboard.chroma');
animations.push('Rain1_Keyboard.chroma');
animations.push('Melee1_Keyboard.chroma');
animations.push('Ray1_Keyboard.chroma');
animations.push('Ray2_Keyboard.chroma');
animationsWithLines.push('ReactiveSpace_Keyboard.chroma');
animations.push('Reticle1_Keyboard.chroma');
animations.push('Reticle2_Keyboard.chroma');
animations.push('Reticle3_Keyboard.chroma');
animations.push('Reticle4_Keyboard.chroma');
animations.push('Spiral_Keyboard.chroma');
animationsWithParticles.push('Spray1_Keyboard.chroma');
animationsWithParticles.push('Spray2_Keyboard.chroma');
animationsWithParticles.push('Spray3_Keyboard.chroma');
animations.push('Star_Keyboard.chroma');
animations.push('Stripes1_Keyboard.chroma');
animationsWithLines.push('ThrowUpLeft_Keyboard.chroma');
animationsWithLines.push('ThrowUpRight_Keyboard.chroma');
animationsWithLines.push('ThrowUp_Keyboard.chroma');
animations.push('Tongue1_Keyboard.chroma');
animations.push('Tornado1_Keyboard.chroma');
animations.push('Trail1_Keyboard.chroma');
animations.push('Trail2_Keyboard.chroma');
animations.push('Trail3_Keyboard.chroma');
animations.push('Travel1_Keyboard.chroma');
animationsWithParticles.push('UpParticle1_Keyboard.chroma');
animationsWithParticles.push('UpParticle2_Keyboard.chroma');
animationsWithParticles.push('UpParticle3_Keyboard.chroma');
animations.push('Wisp1_Keyboard.chroma');
animations.push('Wisp2_Keyboard.chroma');
animations.push('Wisp3_Keyboard.chroma');
animations.push('X1_Keyboard.chroma');
animations.push('X2_Keyboard.chroma');
animations.push('WindMill1_Keyboard.chroma');
animations.push('MachineGun1_Keyboard.chroma');
animations.push('MachineGun2_Keyboard.chroma');
animations.push('SearchLight1_Keyboard.chroma');
animations.push('Logo1_Keyboard.chroma');
animations.push('Logo2_Keyboard.chroma');
animations.push('RocketProjectile1_Keyboard.chroma');
animations.push('Chainsaw1_Keyboard.chroma');
animations.push('WispLarge_Keyboard.chroma');
animations.push('BattleBus_Keyboard.chroma');
animations.push('BlackAndWhiteRainbow_Keyboard.chroma');
animations.push('BarRightToLeft_Keyboard.chroma');
animations.push('BarTopDown_Keyboard.chroma');
animations.push('OpenDoor1_Keyboard.chroma');
animations.push('OpenDoor2_Keyboard.chroma');
animations.push('Sword1_Keyboard.chroma');
animations.push('Block3_Keyboard.chroma');
animations.push('Block4_Keyboard.chroma');
animations.push('Arrow1_Keyboard.chroma');
animations.push('Train1_Keyboard.chroma');
animations.push('Train2_Keyboard.chroma');
animations.push('Ladder1_Keyboard.chroma');
animations.push('Ladder2_Keyboard.chroma');
animations.push('Chest1_Keyboard.chroma');
animations.push('Bird1_Keyboard.chroma');
animations.push('OutParticle1_Keyboard.chroma');
animations.push('---');
animations.push('Cinematic1_Keyboard.chroma');
animations.push('Cinematic2_Keyboard.chroma');
animations.push('Cinematic3_Keyboard.chroma');
animationsWithShapes.push('CircleLargeLeft_Keyboard.chroma');
animationsWithShapes.push('CircleLargeRight_Keyboard.chroma');
animationsWithShapes.push('CircleLarge_Keyboard.chroma');
animationsWithShapes.push('CircleLarge2_Keyboard.chroma');
animationsWithShapes.push('CircleSmallLeft_Keyboard.chroma');
animationsWithShapes.push('CircleSmallRight_Keyboard.chroma');
animationsWithShapes.push('CircleSmall_Keyboard.chroma');
animations.push('LaserA_Keyboard.chroma');
animations.push('LaserB_Keyboard.chroma');
animations.push('Llama1_Keyboard.chroma');
animations.push('Llama2_Keyboard.chroma');
animations.push('Llama3_Keyboard.chroma');
animations.push('Llama4_Keyboard.chroma');
animationsWithShapes.push('Ring1_Keyboard.chroma');
animationsWithShapes.push('Ring2_Keyboard.chroma');
animationsWithShapes.push('Ring3_Keyboard.chroma');
animationsWithShapes.push('WispBuild_Keyboard.chroma');
animations.push('XOutline_Keyboard.chroma');
animations.push('X_Keyboard.chroma');
animationsWithShapes.push('Bow1_Keyboard.chroma');
animationsWithShapes.push('Heart1_Keyboard.chroma');
animationsWithShapes.push('Damage1_Keyboard.chroma');
animationsWithShapes.push('Damage2_Keyboard.chroma');
animationsWithShapes.push('Damage3_Keyboard.chroma');
animationsWithShapes.push('Damage4_Keyboard.chroma');
animationsWithShapes.push('Damage5_Keyboard.chroma');
animationsWithShapes.push('Damage6_Keyboard.chroma');
animationsWithShapes.push('Damage7_Keyboard.chroma');
animationsWithShapes.push('Damage8_Keyboard.chroma');

var animationId = 0;

function CreateKeyboardCanvas(animationName) {
  var rootAnimations = document.getElementById('rootAnimations');
  if (animationName == '---') {
    var br = document.createElement('br');
    rootAnimations.appendChild(br);
    var br = document.createElement('hr');
    rootAnimations.appendChild(br);
    var br = document.createElement('br');
    rootAnimations.appendChild(br);
    return;
  }

  // <div-chroma-set index="1" header="Effect 1"></div-chroma-set>
  var divChromaSet = document.createElement('div-chroma-set');
  divChromaSet.setAttribute('index', ""+animationId);
  divChromaSet.setAttribute('header', "Effect "+animationId);
  rootAnimations.insertBefore(divChromaSet, rootAnimations.children[0]);
  var vm = ( new ( Vue.extend(vue) ) ).$mount(divChromaSet);

  // @todo use common code to setup events
  var canvases = document.getElementsByClassName('canvasKeyboard');
  for (var i in canvases) {
    var canvas = canvases[i];
    if (canvas != undefined &&
      canvas.id == "canvasKeyboardShowEffect"+animationId &&
      canvas.getContext != undefined) {
        var ctx = canvas.getContext("2d");
        ctx.font = "30px Arial";
        ctx.fillStyle ='rgb(127, 127, 127)';
        ctx.fillText("Loading...",225,100);
        setupLiveEditOnClick(canvas);
    }
  }
}
getAnimation = function() {
  var animationGroup = animations;
  if (selectStyle.value == "Misc") {
    animationGroup = animations;
  } else if (selectStyle.value == "Clouds") {
    animationGroup = animationsWithClouds;
  } else if (selectStyle.value == "Particle Systems") {
    animationGroup = animationsWithParticles;
  } else if (selectStyle.value == "Lines") {
    animationGroup = animationsWithLines;
  } else if (selectStyle.value == "Explosion") {
    animationGroup = animationsWithExplosion;
  } else if (selectStyle.value == "Shapes") {
    animationGroup = animationsWithShapes;
  }
  var i = Math.floor(Math.random() * animationGroup.length) % animationGroup.length;
  var name = animationGroup[i];
  if (name == '---') {
    return getAnimation();
  }
  return '../ChromaCommon/animations/' + animationGroup[i];
}
function getLayer(layerId) {
  if (layerId == 0) {
    return 'baseLayer';
  } else {
    return 'layer' + (layerId+1);
  }
}
var numberOfLayers = 5;
var layers = [];
var operations = [];
var colors = [];
randomizeLayers = function() {
  layers = [];
  for (var i = 0; i < numberOfLayers; ++i) {
    if (i == 0) {
      layers.push("../ChromaCommon/animations/Blank_Keyboard.chroma");
      continue;
    }
    var animationName = "";
    for (var tries = 0; tries < 3; ++tries) {
      animationName = getAnimation();
      if (!layers.includes(animationName)) {
        layers.push(animationName);
        animationName = "";
        break;
      }
    }
    if (animationName != "") {
      layers.push(animationName);
    }
  }
}
buttonRandomLayers.onclick = function() {
  randomizeLayers();
  generateScript();
}
randomizeOperations = function() {
  operations = [];
  for (var i = 0; i < numberOfLayers; ++i) {
    var ops = [];
    ops.push(Math.floor(Math.random() * 3));
    ops.push(Math.floor(Math.random() * 6));
    operations.push(ops);
  }
}
buttonRandomOperations.onclick = function() {
  randomizeOperations();
  generateScript();
}
randomizeColors = function() {
  colors = [];
  for (var i = 0; i < 10; ++i) {
    var red = Math.floor(Math.random() * 255);
    var green = Math.floor(Math.random() * 255);
    var blue = Math.floor(Math.random() * 255);
    var color = red | (green << 8) | (blue << 16);
    colors.push(color);
  }
}
randomizeColors(); //set initial colors
setRainbowColors = function() {
  colors = [];
  colors.push(ChromaAnimation.getRGB(255, 0, 0));
  colors.push(ChromaAnimation.getRGB(255, 127, 0));
  colors.push(ChromaAnimation.getRGB(255, 255, 0));
  colors.push(ChromaAnimation.getRGB(0, 255, 0));
  colors.push(ChromaAnimation.getRGB(0, 0, 255));
  colors.push(ChromaAnimation.getRGB(75, 0, 130));
  colors.push(ChromaAnimation.getRGB(148, 0, 211));
}
setBlackAndWhiteColors = function() {
  colors = [];
  colors.push(ChromaAnimation.getRGB(255, 255, 255));
  colors.push(ChromaAnimation.getRGB(200, 200, 200));
  colors.push(ChromaAnimation.getRGB(127, 127, 127));
  colors.push(ChromaAnimation.getRGB(63, 63, 63));
  colors.push(ChromaAnimation.getRGB(32, 32, 32));
  colors.push(ChromaAnimation.getRGB(0, 0, 0));
}
setBloodColors = function() {
  colors = [];
  colors.push(ChromaAnimation.getRGB(255, 0, 0));
  colors.push(ChromaAnimation.getRGB(127, 0, 0));
  colors.push(ChromaAnimation.getRGB(64, 0, 0));
}
setFireColors = function() {
  colors = [];
  colors.push(ChromaAnimation.getRGB(255, 0, 0));
  colors.push(ChromaAnimation.getRGB(255, 32, 0));
  colors.push(ChromaAnimation.getRGB(255, 64, 0));
  colors.push(ChromaAnimation.getRGB(255, 100, 0));
  colors.push(ChromaAnimation.getRGB(255, 127, 0));
  colors.push(ChromaAnimation.getRGB(255, 200, 0));
  colors.push(ChromaAnimation.getRGB(255, 255, 0));
}
setWaterColors = function() {
  colors = [];
  colors.push(ChromaAnimation.getRGB(0, 0, 255));
  colors.push(ChromaAnimation.getRGB(0, 32, 255));
  colors.push(ChromaAnimation.getRGB(0, 64, 255));
  colors.push(ChromaAnimation.getRGB(0, 100, 255));
  colors.push(ChromaAnimation.getRGB(0, 127, 255));
  colors.push(ChromaAnimation.getRGB(0, 200, 255));
  colors.push(ChromaAnimation.getRGB(0, 255, 255));
}
generateScript = function() {
  var text = "";
  var newline = "\n";
  var baseLayer = "";
  for (var layerId = 0; layerId < numberOfLayers; ++layerId) {
    if (layerId == 0) {
      baseLayer = layers[0];
    }
    text += "var " + getLayer(layerId) + " = '"+layers[layerId]+"';" + newline;
  }
  for (var layerId = 0; layerId < numberOfLayers; ++layerId) {
    text += "ChromaAnimation.closeAnimation("+ getLayer(layerId) +");" + newline;
  }
  for (var layerId = 0; layerId < numberOfLayers; ++layerId) {
    var indent = "";
    for (var i = 0; i < layerId; ++i){
      indent += "  ";
    }
    if (layerId == 0) {
      text += "ChromaAnimation.openAnimation(baseLayer, function(baseAnimation) {" + newline;
    } else {
      text += indent + "ChromaAnimation.openAnimation(layer"+(layerId+1)+", function(layer"+(layerId+1)+"Animation) {" + newline;
    }
  }
  var indent = "";
  for (var i = 0; i < numberOfLayers; ++i){
    indent += "  ";
  }
  text += indent + "var frameCount = ChromaAnimation.getFrameCount(baseLayer);" + newline;
  for (var layerId = 1; layerId < numberOfLayers; ++layerId) {
    text += indent + "var frames = ChromaAnimation.getFrameCount("+ getLayer(layerId) +");" + newline;
    text += indent + "frameCount = Math.max(frameCount, frames);" + newline;
  }
  for (var layerId = 1; layerId < numberOfLayers; ++layerId) {
    text += indent + "var frames = ChromaAnimation.getFrameCount("+ getLayer(layerId) +");" + newline;
    text += indent + "if (frames == 1) ChromaAnimation.duplicateFirstFrame("+ getLayer(layerId) +", frameCount);" + newline;
  }
  var color = colors[Math.floor(Math.random() * colors.length)];
  var red = ChromaAnimation.getRed(color);
  var green = ChromaAnimation.getGreen(color);
  var blue = ChromaAnimation.getBlue(color);
  if (inputBackground.checked) {
    text += indent + "ChromaAnimation.makeBlankFramesRGB(baseLayer, frameCount, 0.1, "+red+", "+green+", "+blue+");" + newline;
  } else {
    text += indent + "ChromaAnimation.makeBlankFrames(baseLayer, frameCount, 0.1, 0);" + newline;
  }
  for (var layerId = 1; layerId < numberOfLayers; ++layerId) {
    switch (operations[layerId][0]) {
      case 0:
        var color = colors[Math.floor(Math.random() * colors.length)];
        var red = ChromaAnimation.getRed(color);
        var green = ChromaAnimation.getGreen(color);
        var blue = ChromaAnimation.getBlue(color);
        text += indent + "ChromaAnimation.multiplyIntensityAllFramesRGB("+ getLayer(layerId) +", "+red+", "+green+", "+blue+");" + newline;
        break;
      case 1:
        var threshold = Math.floor(Math.random() * 255);
        var color = colors[Math.floor(Math.random() * colors.length)];
        var red = ChromaAnimation.getRed(color);
        var green = ChromaAnimation.getGreen(color);
        var blue = ChromaAnimation.getBlue(color);
        text += indent + "ChromaAnimation.fillThresholdColorsAllFramesRGB("+ getLayer(layerId) +", "+threshold+", "+red+", "+green+", "+blue+");" + newline;
        break;
      case 2:
        var minThreshold = Math.floor(Math.random() * 127);
        var color = colors[Math.floor(Math.random() * colors.length)];
        var minRed = ChromaAnimation.getRed(color);
        var minGreen = ChromaAnimation.getGreen(color);
        var minBlue = ChromaAnimation.getBlue(color);
        var maxThreshold = Math.floor(Math.random() * 127);
        var color = colors[Math.floor(Math.random() * colors.length)];
        var maxRed = ChromaAnimation.getRed(color);
        var maxGreen = ChromaAnimation.getGreen(color);
        var maxBlue = ChromaAnimation.getBlue(color);
        text += indent + "ChromaAnimation.fillThresholdColorsMinMaxAllFramesRGB("+ getLayer(layerId) +", "+minThreshold+", "+minRed+", "+minGreen+", "+minBlue+", "+maxThreshold+", "+maxRed+", "+maxGreen+", "+maxBlue+");" + newline;
        break;
    }
  }
  for (var layerId = 1; layerId < numberOfLayers; ++layerId) {
    switch (operations[layerId][1]) {
      case 0:
        text += indent + "ChromaAnimation.copyNonZeroAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
      case 1:
        text += indent + "ChromaAnimation.copyNonZeroTargetAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
      case 2:
        text += indent + "ChromaAnimation.addNonZeroAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
      case 3:
        text += indent + "ChromaAnimation.addNonZeroTargetAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
      case 4:
        text += indent + "ChromaAnimation.subtractNonZeroAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
      case 5:
        text += indent + "ChromaAnimation.subtractNonZeroTargetAllKeysAllFrames("+ getLayer(layerId) +", baseLayer);" + newline;
        break;
    }
  }

  text += indent + "ChromaAnimation.setChromaCustomFlag(baseLayer, true);" + newline;
  text += indent + "ChromaAnimation.setChromaCustomColorAllFrames(baseLayer);" + newline;
  text += indent + "ChromaAnimation.overrideFrameDuration(baseLayer, 0.033);" + newline;

  text += indent + "displayAndPlayAnimation(baseLayer, 'ShowEffect"+animationId+"', true);" + newline;

  for (var layerId = numberOfLayers - 1; layerId >= 0; --layerId) {
    var indent = "";
    for (var i = 0; i < layerId; ++i){
      indent += "  ";
    }
    text += indent + "});" + newline;
  }
  outputScript.innerText = text;
  var prev = outputScript.innerHTML;
  do {
    prev = outputScript.innerHTML;
    outputScript.innerHTML = outputScript.innerHTML.replace('&lt;br&gt;', '\r\n');
  } while (prev != outputScript.innerHTML);

  var button = document.getElementById("showEffect"+animationId);
  if (button != undefined) {
    button.chromaSource = text;
  }
  var canvasName = 'canvasShowEffect'+this.animationId;
  ChromaAnimation.closeAnimation(canvasName);
  eval(text);
}
generateColors = function() {
  if (selectColors.value == "Random") {
    randomizeColors();
  } else if (selectColors.value == "Rainbow") {
    setRainbowColors();
  } else if (selectColors.value == "Black and White") {
    setBlackAndWhiteColors();
  } else if (selectColors.value == "Blood") {
    setBloodColors();
  } else if (selectColors.value == "Fire") {
    setFireColors();
  } else if (selectColors.value == "Water") {
    setWaterColors();
  }
}
buttonRandomColors.onclick = function() {
  generateColors();
  generateScript();
}
buttonGenerateScript.onclick = function() {
  numberOfLayers = Math.floor(parseInt(inputNumberOfLayers.value));
  if (layers.length != numberOfLayers ||
    inputRandomLayers.checked) {
    randomizeLayers();
  }
  if (operations.length != numberOfLayers ||
    inputRandomOperations.checked) {
    randomizeOperations();
  }
  generateColors();
  generateScript();
}
buttonSave.onclick = function() {
  ++animationId;
  CreateKeyboardCanvas("canvasShowEffect"+animationId);
  generateScript();
}
buttonClear.onclick = function() {
  for (var canvasName in canvasTimers) {
    if (canvasTimers[canvasName] != undefined) {
      clearTimeout(canvasTimers[canvasName]);
      canvasTimers[canvasName] = undefined;
    }
    canvasTimers = [];
  }
  while (rootAnimations.firstChild) {
    rootAnimations.removeChild(rootAnimations.firstChild);
  }
  animationId = 1;
  CreateKeyboardCanvas("canvasShowEffect"+animationId);
  generateScript();
}
var intervalAuto = undefined;
inputAuto.onclick = function() {
  if (intervalAuto != undefined) {
    clearInterval(intervalAuto);
    intervalAuto = undefined;
  }
  if (inputAuto.checked) {
    intervalAuto = setInterval(function() {
      ++animationId;
      CreateKeyboardCanvas("canvasShowEffect"+animationId);
      buttonGenerateScript.onclick();
    }, 250);
  }
}
inputAuto.onclick();
</script>

<br/><br/>

</body>

<script>
// START *** avoid caching
var scriptIndex = document.createElement('script');
scriptIndex.setAttribute('src','../ChromaCommon/index.js?cache=' + Date.now() );
document.head.appendChild(scriptIndex);
// END *** avoid caching

</script>
</html>
