body {
  background-color: black;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
button {
  font-size: 1.5em;
  padding: 0.5em;
  background-color: 888888;
  color: #00DD00;
}
a {
  color: white;
}
div {
  font-size: 1.2em;
}
.divSection {
  border: 5px solid white;
  font-size: 1.5em;
  background-color: #222222;
  color: white;
}
pre {
  font-size: 1.5em;
}
td {
  font-size: 1.5em;
}
.tableBlock {
}
.tableBlock td {
  border: 2px solid white;
  min-width: 50px;
  max-width: 700px;
}
.tableInline {
  display: inline-table;
}
.tableInline td {
  border: 1px solid white;
  min-width: 50px;
}
.tdEmpty {
  background-color: 222222;
}
.imgThumbnail {
  width: 600px;
  display: inline-table;
}
.canvasKeyboard {
}
.buttonChroma {
  background-color: #AAAAAA;
  color: black;
}
.buttonChroma2 {
  background-color: #444444;
  color: #00DD00;
}
.buttonChromaLink {
  display: none;
}
.buttonHeadset {
  display: none;
}
.buttonMouse {
  display: none;
}
.buttonMousepad {
  display: none;
}
.editPanel {
  font-size: 1em;
  position: absolute;
  word-wrap: break-word;
  color: white;
  background-color: #444444;
}
.divInline {
  display: inline-table;
  vertical-align: top;
}
.divBorder {
  display: inline-block;
  border: 1px solid white;
  vertical-align: top;
}
.divBlock {
  display: inline-block;
  vertical-align: top;
}

.canvasChromaLink .productfill {
  fill: #111111;
}

.canvasChromaLink .productoutline1 {
  fill: #474747;
}

.canvasChromaLink .productoutline2 {
  fill: #1F1F1F;
}

.canvasChromaLink .led {
  fill: #000000;
}

.canvasChromaLink .selection {
  stroke: #44d62c;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: transparent;
  position: relative;
}

.canvasChromaLink .producttext {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  fill: #222222;
}

.canvasKeyboard .productfill{fill:#111111;}
.canvasKeyboard .productoutline1{fill:#474747;}
.canvasKeyboard .productoutline2{fill:#1F1F1F;}
.canvasKeyboard .characters{fill:#D2D2D2;}
.canvasKeyboard .ledkeys{opacity:0.5;}
.canvasKeyboard .led{fill:#020202;}
.canvasKeyboard .selection{
  stroke: #44d62c;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: transparent;
  position: relative;
}

.canvasKeypad .productfill {
  fill: #111111;
}

.canvasKeypad .productoutline1 {
  fill: #474747;
}

.canvasKeypad .productoutline2 {
  fill: #1F1F1F;
}

.canvasKeypad .characters {
  fill: #D2D2D2;
}

.canvasKeypad .ledkeys {
  opacity: 0.5;
  fill: #000;
}

.canvasKeypad .led {
  fill: #000;
}

.canvasKeypad .selection {
  stroke: #44d62c;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: transparent;
  position: relative;
}

.canvasMouse .productfill {
  fill: #111111;
}

.canvasMouse .productoutline1 {
  fill: #474747;
}

.canvasMouse .productoutline2 {
  fill: #1F1F1F;
}

.canvasMouse .characters {
  fill: #D2D2D2;
}

.canvasMouse .led {
  fill: #000;
}

.canvasMouse .selection {
  stroke: #44d62c;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: transparent;
  position: relative;
}
